body{
    width: 100%;
    margin: 0;
}

.navbar{
  overflow: hidden;
  background-color: royalblue;
  position: fixed;
  top: 0;
  width: 100%;
  margin-bottom: 20px;
  height: 7vh;
  color: whitesmoke;
}

.navbar a{
  float: left;
  display: block;
  color: whitesmoke;
  text-align: center;
  text-decoration: none;
  background-color: royalblue;
}

.navbar a:hover {
  color: whitesmoke;
  text-decoration: none;
  background-color: royalblue;
}

.jumbotron.text-center.updest{
    background-color: royalblue;
    color: whitesmoke;
    padding: 100px 25px;
}

.contwhite{
  background-color: white;
  color: black;
}

.contgray{
  background-color: whitesmoke;
  color: black;
}

.titulosecao{
  text-align: center;
}

.column{
  float: left;
  width: 20%;
  margin-bottom: 16px;
  padding: 0 8px;

}

.card{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  background-color: gainsboro;
}

.qstext{
  padding: 0 16px;
}

.qstext::after, .row::after {
  content: "";
  clear: both;
  display: table;
}

.title {
  color: grey;
}

.icones{
  text-align: center;
}

.imgicon{
    width: 30px;
    border-color: white;
    border-width: 1px;
    border-style: solid;
    border-radius: 50%;
    margin: 5px;
    padding: 2px;
}

.linkfb:hover{
  background-color: #3b5998;
}

.linkgit:hover{
  background-color: white;
}

.foot{
  padding-top: 20px;
  padding-bottom: 10px;
  background-color: royalblue;
  color: whitesmoke;
}

.itemcont{
  margin-top: 20px;
}

.formcont{
  border-left: thin solid whitesmoke;
}

.spancont{
  padding: 5px;
  border-radius: 50%;
  border-style: solid;
  border-width: 1px;
  border-color: whitesmoke;
}

.inputcont{
  margin-top: 20px;
  margin-bottom: 10px;
}

fieldset>p{
  text-align: justify;
}
